--extra-index-url https://download.pytorch.org/whl/cpu
opencv-python
scenedetect[opencv]
moviepy
numpy<2.0
easyocr
librosa
lightgbm
scikit-learn
joblib
transformers
torch
Pillow
fastapi
uvicorn
python-multipart
open_clip_torch
pytrends
redis
python-dotenv
keybert
sentence-transformers
google-api-python-client
nltk